<table class="table table-striped">
  <% if @teams.empty? %>
    <p class="lead">Waiting for teams!</p>
  <% else %>
    <tr>
      <th>Team</th>
      <th>Robot</th>
      <% @scores.size.times do |n| %>
        <th><%= n + 1 %></th>
      <% end %>
      <th>Total</th>
    </tr>
    <% @teams.each do |team| %>
      <tr>
        <td>
          <% if team.name == team_name %>
            <i class="icon-star"></i>
          <% end %>
          <%= team.name %>
        </td>
        <td><%= team.robot_name ? team.robot_name.split(".").last : "" %></td>
        <% team.scores.each do |score| %>
          <td><%= score %></td>
        <% end %>
        <td><%= team.total_score %></td>
      </tr>
    <% end %>
  <% end %>
</table>
